/*****************************
/// Default & Reset Styles ///
*****************************/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

@media (max-width: 768px) {
  #main-view {
    overflow-y: scroll;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #list {
    overflow-y: scroll;
  }
  #main-view {
    padding-bottom: 50px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container {
    min-width: 1600px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/*****************************
/// Default & Reset Styles ///
*****************************/

html {
  height: 100%;
}
body {
  min-height: 100%;
}

#navbar {
  height: 6vh;
  border-bottom: 1px solid rgb(228, 228, 228) !important;
}

/*****************************
//////// VIEW STYLES  ////////
*****************************/

#main-view {
  height: 94vh;
  min-height: 94vh;
}

#columns {
  height: 100%;
}

/*****************************
/////// RESULTS STYLES  //////
*****************************/

#map {
  padding: 0 !important;
  background-color: #e3e3e3;
  overflow: hidden;
}

#list {
  height: 100%;
  padding: 25px;
}

.result-item {
  height: 300px;
  display: flex;
  align-content: space-around;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #dfe0e4;
  border-radius: 2px;
  background-color: #fff;
  cursor: pointer;
}

.active-item {
  background-color: #eeefef !important;
}

#pop-up {
  height: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#popup-wrapper {
  height: 60vh;
  position: absolute;
  z-index: 2;
  padding: 20px;
  border-radius: 2px;
  background-color: #fff;
}

.footer {
  text-align: center;
  min-height: 50px;
  width: 100%;
  position: absolute;
  bottom: 0;
  line-height: 60px;
  border-top: 1px solid rgb(228, 228, 228) !important;
  cursor: pointer;
}

.footer-tab {
  color: #f18f2e;
  background-color: #fff;
}

.tab-active {
  color: #fff !important;
  background-color: #f18f2e !important;
}
